{% extends "layout.html" %}

{% block title %}
<h1>📫</h1> post list 
{% endblock %}


{% block content%}
    <section>
        <h1>📫 post </h1>
        {% for post in posts%}
            <article class = "post">
                
                <h2>
                    <a href="{% url 'posts:page' slug=post.slug %}">
                         {{ post.title }}
                    </a>
                </h2>
                <p>{{ post.date|date:"F j, Y" }}</p>
                <p> By {{ post.author}}</p>
                <p>{{ post.body }}</P>
            </article>
        {% endfor %}
    </section>
    
{% endblock %}